.console{
	background-color: @d-gray - #111;
	font-family: monospace;
	padding: 1em 1em 3em;
	line-height: 1.2;
	
	.scrollbars(5px, @d-gray + #111, @d-gray);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	overflow-y: scroll;
}
#caret{
	color:  @consoleColor;
	animation: blink 1.1s infinite;
	margin-left: .2em;
	font-weight: bold;
}
.caret{
	&:before{
		content: "|"
	}
}
.caretHor{
	&:before{
		content: "_"
	}
}
.simbol{
	color: @consoleColor;		
    //border: 1px solid rgba(0,0,0,0);
}
.glowOut{
	animation-name: simbolGlowOut;
    animation-duration: .7s;
}
.twinkle{
	animation-name: simbolTwinkle;
    animation-duration: 3s;
    animation-iteration-count: 3;
}
.glow{
	animation-name: simbolGlow;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

@keyframes simbolTwinkle {
	@mC: #111;
    0%   {color: @consoleColor}
    10%   {color: @consoleColor}
    11% {color: @consoleColor - @mC}
    19% {color: @consoleColor - @mC}
    20% {color: @consoleColor}
    25% {color: @consoleColor}
    26% {color: @consoleColor - @mC}
    30% {color: @consoleColor - @mC}
    100% {color: @consoleColor}
}
@keyframes simbolGlow {
    0%   {text-shadow: none}
    50% {text-shadow: 0px 0px 6px @consoleColor, 0px 0px 6px @consoleColor}
    100% {text-shadow: none}
}
@keyframes simbolGlowOut {
    0% {text-shadow: 0px 0px 6px @consoleColor, 0px 0px 6px @consoleColor, 0px 0px 6px @consoleColor; color: @consoleColor + #333;}
    100% {text-shadow: none; color: @consoleColor;}
}
@keyframes blink {
    0% {color: @consoleColor}
    20% {color: @consoleColor}
    30% {color: rgba(0,255,0,0)}
    50% {color: rgba(0,255,0,0)} 
    70% {color: rgba(0,255,0,0)} 
    80% {color: @consoleColor}    
    100% {color: @consoleColor}
}