.clear {
  float: none!important;
  clear: both!important;
  display: table!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.flexChild {
  flex-grow: 1;
}
.frame {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
}
.fr {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border-bottom-width: 2px;
}
.fr-convex {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fr-concave {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 10px;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: #0b0f0b;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  color: #555;
  width: 100%;
  min-height: 100%;
  height: auto;
  font-size: 12px;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  counter-reset: p_num 0;
}
img {
  border: none;
  display: inline-block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10.5px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
br {
  clear: both;
}
p {
  margin: 0 0 10.5px;
}
.wrap {
  overflow: hidden;
  float: none;
  clear: both;
}
#wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.p_cont {
  width: 100%;
  padding: 10px 0;
}
.p_side {
  width: 100%;
}
.p_top {
  width: 100%;
}
#before_spells {
  font-weight: bold;
  padding: .2em;
  display: inline-block;
  color: #fff;
}
.console {
  font-family: monospace;
  padding: 1em 1em 3em;
  line-height: 1.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
.console::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.console::-webkit-scrollbar-thumb {
  background: #161a16;
}
.console::-webkit-scrollbar-track {
  background: #0b0f0b;
}
.console body {
  scrollbar-face-color: #161a16;
  scrollbar-track-color: #0b0f0b;
}
.consoleBorder {
  border: 2px solid #777;
  padding-top: 1.5em;
  cursor: crosshair;
}
.consoleBorder:before {
  content: "# HACKER TOOL v0.2";
  padding: .1em;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  color: #000;
  background: #777;
  font-weight: bold;
}
.consoleInput {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.consoleInput:focus {
  outlone: none;
}
.stray {
  background: linear-gradient(to bottom, rgba(0, 238, 0, 0) 44%, rgba(0, 100, 0, 0.06) 50%, rgba(0, 200, 0, 0.11) 52%, rgba(0, 238, 0, 0) 53%);
  background-position-y: 10%;
  background-repeat-y: no-repeat;
  background-size: 20%;
  animation: flowDown 5s infinite;
  animation-timing-function: ease-in-out;
}
.stray2 {
  animation: flowDown 7s infinite;
}
#caret {
  color: #00ee00;
  animation: blink 1.1s infinite;
  margin-left: .2em;
  font-weight: bold;
}
.caret:before {
  content: "|";
}
.caretHor:before {
  content: "_";
}
.simbol {
  color: #00ee00;
}
.glowOut {
  animation-name: simbolGlowOut;
  animation-duration: .7s;
}
.twinkle {
  animation-name: simbolTwinkle;
  animation-duration: 3s;
  animation-iteration-count: 3;
}
.glow {
  animation-name: simbolGlow;
  animation-duration: 4s;
  animation-iteration-count: 3;
}
@keyframes simbolTwinkle {
  0% {
    color: #00ee00;
  }
  10% {
    color: #00ee00;
  }
  11% {
    color: #00dd00;
  }
  19% {
    color: #00dd00;
  }
  20% {
    color: #00ee00;
  }
  25% {
    color: #00ee00;
  }
  26% {
    color: #00dd00;
  }
  30% {
    color: #00dd00;
  }
  100% {
    color: #00ee00;
  }
}
@keyframes simbolGlow {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0px 0px 6px #00ee00, 0px 0px 6px #00ee00;
  }
  100% {
    text-shadow: none;
  }
}
@keyframes simbolGlowOut {
  0% {
    text-shadow: 0px 0px 6px #00ee00, 0px 0px 6px #00ee00, 0px 0px 6px #00ee00;
    color: #33ff33;
  }
  100% {
    text-shadow: none;
    color: #00ee00;
  }
}
@keyframes blink {
  0% {
    color: #00ee00;
  }
  20% {
    color: #00ee00;
  }
  30% {
    color: rgba(0, 255, 0, 0);
  }
  50% {
    color: rgba(0, 255, 0, 0);
  }
  70% {
    color: rgba(0, 255, 0, 0);
  }
  80% {
    color: #00ee00;
  }
  100% {
    color: #00ee00;
  }
}
@keyframes flowDown {
  0% {
    background-position: 50% -60%;
    background-size: 20%;
  }
  45% {
    background-size: 40%;
  }
  100% {
    background-position: 50% 160%;
    background-size: 20%;
  }
}
#cMatrix {
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*# sourceMappingURL=style.css.map */